/* This is required to win over specificity of #content h2 */
.links .comment-add{
  display: none;
}
#node-single-comment{
  margin-top: 30px;
	h2 {
    margin-top: 60px;
	   margin-bottom: 30px;
	   font-size: 40px;
     font-weight: 500;
	}  
  input[type*='text'], textarea{
    width: 100%;
  }
  .comment-wrapper {
    padding: 30px;
    background: #f3f3f3;
    .field--name-field-email, .field--name-field-full-name {
      display: none;
    }
    + .comment-wrapper {
      margin-top: 30px;
    }
  }
}
#comment-form {
  label {
    display: none;
  }
  .field--name-field-email {
      padding-left: 10px;
  }
  .field--name-field-full-name, .field--name-field-email {
      width: 50%;
      display: inline-block;
      float: left;
  }
  .field--name-comment-body {
    width: 100%;
    clear: both;
  }
  input[type*='text'], input[type="email"] {
    width: 100%;
    height: 77px;
    background: #f3f3f3;
  }
  .form-text {
    margin-top: 0;
  }
  .form-item{
    margin-bottom: 10px;
    &.js-form-type-textarea{
      margin: 0;
    }
  }
  ul > li{
    list-style-type: none;
  }
  .form-actions {
    margin-top: 30px;
    margin-bottom: -35px;
  }
}
.comment-wrapper h2.comment-form__title {
  margin-bottom: 1em;
}
.field-node--comment {
  font-size: 0.934em;
}

[dir="rtl"] .comment {
  direction: rtl;
}


.comment__attribution img {
  border: 1px solid #d3d7d9;
}
/* This is required to win over specificity of .field--type-image img */
.comment .field--name-user-picture img {
  margin: 0;
}

.comment__author {
  color: $black;
  font-weight: 500;
  font-size: 24px;
}
.comment__time {
  color: $theme-color;
  font-size: 16px;
  font-weight: 500;
}
.comment__permalink {
  font-size: 0.733em;
  line-height: 1.2;
}
.comment__content {
  word-break: break-all;
  h3 a{
    font-size: 18px;
    font-weight: 600;
  }
  .links.inline{
    margin-top: 10px;
    > li{
      float: left;
      a{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
      }
    }
  }
}

.comment__content h3 {
  margin-top: 0.94em;
  margin-bottom: 0.45em;
  font-size: 1.171em;
}
.comment__content nav {
  padding-top: 1px;
}
.indented {
  margin-left: 40px; /* LTR */
}
[dir="rtl"] .indented {
  margin-right: 40px;
  margin-left: 0;
}
.comment .links {
  padding: 0 0 0.25em 0;
  list-style: none;
}
.comment .links li {
  padding: 0 0.5em 0 0; /* LTR */
  font-size: 1.08em;
}
[dir="rtl"] .comment .links li {
  padding: 0 0 0 0.5em;
}
.comment--unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
  background: #fff4f4;
}
[dir="rtl"] .comment--unpublished {
  margin-left: 5px;
  margin-right: 0;
  padding: 5px 5px 5px 2px;
}

/**
 * @todo: unpublished nodes have class .node--unpublished.
 * change this to .comment--unpublished.
 */
.unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}
.unpublished {
  padding: 20px 15px 0;
}
.comment-footer {
  display: table-row;
}
.comment--unpublished .comment__text:after,
.node--unpublished .comment__text:after {
  border-right-color: #fff4f4; /* LTR */
}
[dir="rtl"] .comment--unpublished .comment__content:after,
[dir="rtl"] .node--unpublished .comment__content:after {
  border-left-color: #fff4f4;
}
